$black: #212B31;
$gray: #72787D;
$gray-light: #DADEDF;
$white: #fff;
$blue: #036FC7;


// Media
$iphone5: "max-width: 320px";
$usm: "max-width: 479px";
$sm: "max-width: 575px";
$md: "max-width: 767px";
$lg: "max-width: 991px";
$xl: "max-width: 1199px";