@charset "UTF-8";

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: "Arial";
  font-display: swap;
  src: url("../fonts/arialRegular.woff") format("woff"), url("../fonts/arialRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*reset сss*/

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  cursor: pointer;
}

ul li {
  list-style: none;
}

input,
textarea,
select {
  font: inherit;
}

html,
body {
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.container {
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-lg {
  max-width: 1440px;
  padding: 0 30px;
}

/* Modal */

.modal {
  display: none;
  width: 100%;
  height: 100%;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.modal.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal__dialog {
  width: auto;
  margin: auto;
  background-color: #fff;
  padding: 30px;
  position: relative;
}

.modal__close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  padding: 5px 8px;
  background: 0;
  border: #000 1px solid;
  cursor: pointer;
}

.modal__close:hover {
  background-color: #000;
  color: #fff;
}

.modal-content__title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  padding-bottom: 15px;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  color: #72787D;
  overflow-x: hidden;
  line-height: 1.5;
}

body.no-scroll {
  overflow: hidden;
}

.header {
  width: 100%;
  min-height: 100px;
}

.header__inner {
  padding: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__title {
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 400;
  color: #212B31;
  line-height: 1.33;
  text-align: center;
}

.intro__wrap-btn {
  margin-bottom: 88px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__photo {
  display: block;
  margin: 0 auto 36px;
  width: 100%;
}

.intro__subphoto {
  display: block;
  margin: 0 auto 148px;
  width: 100%;
  max-width: 806px;
}

.chaos__img {
  display: block;
  width: 100%;
}

.care__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.care__right {
  width: 54%;
}

.care__title {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 400;
  color: #212B31;
}

.care__text {
  margin-bottom: 28px;
  font-size: 20px;
  color: #72787D;
}

.care__left {
  width: 46%;
}

.partners__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__wrap-img {
  width: 20%;
  margin-bottom: 10px;
}

.partners__img {
  display: block;
  margin: 0 auto;
}

.partners__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.what__line {
  margin-bottom: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.what__line:last-child {
  margin-bottom: 0;
}

.what__left,
.what__right {
  width: 50%;
}

.what__left--pd {
  padding: 0 10px;
}

.what__right--pd {
  padding: 0 10px;
}

.what__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #212B31;
  text-align: left;
}

.what__text {
  width: 100%;
  max-width: 500px;
  font-size: 16px;
  color: #72787D;
  text-align: left;
}

.what__img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.ease__footer {
  font-size: 20px;
  color: #72787D;
  text-align: center;
}

.reliability__parents-wrap {
  text-align: center;
}

.reliability__wrap {
  margin: 0 auto;
  display: inline-block;
  position: relative;
}

.reliability__list {
  position: absolute;
  top: -20px;
  left: 188px;
  z-index: 1;
}

.reliability__footer {
  margin-top: 65px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F6F8F9;
}

.reliability__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reliability__img {
  display: block;
  margin-right: 25px;
}

.reliability__text {
  font-size: 18px;
}

.reliability__text--fw500 {
  font-weight: 500;
}

.reliability__text--fw400 {
  font-weight: 400;
}

.no-webp .black__wrap{
  background: #212B31 url("../img/black/black-bg.png") right top 145px no-repeat; }

.black__wrap {
  margin: 0 auto;
  padding: 145px 0 120px;
  max-width: 1440px;
}

.black__header {
  margin-bottom: 130px;
  max-width: 590px;
}

.black__title {
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: 400;
  color: #fff;
}

.black__advantages {
  margin-bottom: 50px;
}

.black__item {
  margin-bottom: 25px;
  padding-left: 40px;
}

.black__subtitle {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  position: relative;
}

.black__subtitle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -40px;
  z-index: 1;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.black__text {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.75);
}

.job__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.job__left,
.job__right {
  width: 50%;
}

.job__title {
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 400;
  color: #212B31;
}

.job__subtitle {
  margin-bottom: 60px;
  width: 100%;
  max-width: 450px;
  font-size: 20px;
  font-weight: 400;
  color: #72787D;
  line-height: 1.6;
}

.job__item {
  margin-bottom: 30px;
  padding-left: 72px;
  position: relative;
}

.job__number {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  border: 1px solid #DADEDF;
  color: #72787D;
}

.job__mini-title {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 400;
  color: #212B31;
}

.job__text {
  font-size: 16px;
  color: #72787D;
}

.choice__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.choice__left,
.choice__right {
  width: 50%;
}

.choice__item {
  margin-bottom: 30px;
  position: relative;
  padding-left: 64px;
}

.choice__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.choice__subtitle {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #212B31;
}

.choice__text {
  max-width: 360px;
  font-size: 16px;
  color: #72787D;
  line-height: 1.5;
}

.startup__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 795px;
  margin: 0 auto;
}

.startup__col {
  width: 33.3333%;
  padding-bottom: 40px;
}

.startup__item {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 185px;
  min-height: 185px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.startup__header {
  margin-bottom: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 115px;
}

.startup__img {
  display: block;
}

.startup__text {
  font-size: 16px;
  color: #72787D;
  line-height: 1.2;
  text-align: center;
}

.no-webp .ready__inner{
  background: #FFD042 url("../img/ready/ready-bg.png") center/cover no-repeat; }

.ready__inner {
  padding: 120px 40px;
}

.ready__title {
  margin-bottom: 55px;
  font-size: 48px;
  font-weight: 400;
  color: #212B31;
  line-height: 1.33;
  text-align: center;
}

.ready__parents-wrap-btn {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer {
  padding-top: 75px;
}

.footer__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 50px;
  border-bottom: 1px solid #DADEDF;
}

.footer__col--media-md-db {
  display: none;
}

.footer__content {
  margin-top: 25px;
}

.footer__address {
  margin-bottom: 10px;
  font-size: 15px;
  color: #72787D;
}

.footer__email-link {
  font-size: 15px;
  color: #72787D;
}

.footer__tel {
  margin-bottom: 20px;
}

.footer__tel-link {
  font-size: 15px;
  color: #72787D;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__title {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 400;
  color: #212B31;
}

.footer__wrap-link {
  margin-bottom: 8px;
  line-height: 1.2;
}

.footer__link {
  font-size: 15px;
  color: #72787D;
}

.footer__link:last-child {
  margin-bottom: 0;
}

.footer__link:hover {
  border-bottom: 1px solid #72787D;
}

.footer__underground {
  padding: 33px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__copyright {
  font-size: 16px;
  color: #72787D;
}

.footer__link-privacy-polyci {
  font-size: 16px;
  color: #72787D;
}

.footer__link-privacy-polyci:hover {
  border-bottom: 1px solid #72787D;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  display: block;
}

.logo__img--sm {
  width: 22px;
}

.logo__text {
  padding-left: 8px;
  text-transform: uppercase;
  font-size: 22px;
  color: #212B31;
}

.logo__text--sm {
  font-size: 16px;
}

.nav__link {
  margin-right: 22px;
  font-size: 16px;
  color: #72787D;
}

.nav__link:hover {
  border-bottom: 1px solid #72787D;
}

.nav__link--blue {
  color: #036FC7;
}

.nav__link--blue:hover {
  border-bottom: 1px solid #036FC7;
}

.nav.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  font-family: inherit;
  background: none;
  border: 0;
}

.btn-order {
  font-family: Arial, sans-serif;
  font-size: 15px;
  color: #fff;
  padding: .6em 1.33em;
  border-radius: .26em;
  border: 1px solid #212B31;
  background-color: #212B31;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0 2px 3px rgba(0, 0, 0, 0.16);
}

.btn-order:hover {
  color: #212B31;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

.btn-order--lg {
  font-size: 17px;
  padding: .84em 1.33em;
}

.btn-order--white {
  color: #212B31;
  border: 1px solid #DADEDF;
  background-color: #fff;
}

.btn-order--white:hover {
  color: #fff;
  background-color: #212B31;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

.btn-order-wrap.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-more {
  font-size: 18px;
  color: #212B31;
  padding: .6em 1.39em;
  border-radius: .22em;
  background-color: #fff;
  border: 1px solid #DADEDF;
}

.btn-more:hover {
  color: #fff;
  background-color: #212B31;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
  border: 1px solid #212B31;
}

.btn-more--black {
  color: #fff;
  border: 1px solid #DADEDF;
  background-color: #212B31;
}

.btn-more--black:hover {
  color: #212B31;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

.btn + .btn {
  margin-left: 16px;
}

.btn-connection {
  margin-left: 16px;
  font-size: 18px;
  color: #212B31;
  padding: .73em 1.39em;
  border-radius: .22em;
  background-color: #fff;
  border: 1px solid #DADEDF;
}

.btn-connection:hover {
  color: #fff;
  background-color: #212B31;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
  border: 1px solid #212B31;
}

.wrap-three {
  margin: 0 -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.wrap-three__col {
  width: 33.3333%;
  padding: 0 20px;
}

.wrap-three__item {
  width: 100%;
  max-width: 330px;
  margin: 0 auto;
}

.wrap-three__title {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #212B31;
}

.wrap-three__title--white {
  color: #fff;
}

.wrap-three__text {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #72787D;
}

.wrap-three__text--white {
  color: rgba(255, 255, 255, 0.75);
}

.span-yellow {
  position: relative;
  font-size: 20px;
  color: #212B31;
}

.span-yellow:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 50%;
  width: 100%;
  background-color: #FFD042;
}

.block-nine {
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-nine__col {
  width: 33.3333%;
}

.block-nine__item {
  min-height: 155px;
  margin-bottom: 35px;
  position: relative;
  padding-left: 65px;
  text-align: left;
}

.block-nine__img {
  position: absolute;
  left: 0;
  top: 0;
}

.block-nine__title {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;
  color: #212B31;
}

.block-nine__text {
  width: 100%;
  max-width: 270px;
  font-size: 16px;
  color: #72787D;
}

.reviews {
  padding: 45px 40px 56px;
  background-color: #F6F8F9;
}

.reviews__item {
  position: relative;
  padding-top: 20px;
  padding-left: 45px;
}

.reviews__comma {
  position: absolute;
  top: -4px;
  left: 0;
}

.reviews__text {
  margin-bottom: 30px;
  font-size: 26px;
  color: #212B31;
  line-height: 1.6;
  position: relative;
  z-index: 1;
}

.reviews__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

.reviews__ava {
  display: block;
  margin-right: 8px;
}

.reviews__name {
  color: #212B31;
}

.reviews__prof {
  color: #72787D;
}

.slick-dots {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 28px 0 0 41px;
}

.slick-dots li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4px;
}

.slick-dots button {
  display: inline-block;
  vertical-align: top;
  padding: 0;
  width: 8px;
  height: 8px;
  font-family: inherit;
  background-color: rgba(3, 111, 199, 0.2);
  border: 0;
  border-radius: 50%;
  font-size: 0;
  color: transparent;
  outline: 0;
}

.slick-dots button:focus {
  border: 1px solid #036FC7;
  border-radius: 50%;
}

.slick-dots .slick-active button {
  width: 8px;
  height: 8px;
  background-color: #036FC7;
}

.slick-dots .slick-active button:focus {
  border: 1px solid #036FC7;
  border-radius: 50%;
}

.section {
  padding: 75px 0;
}

.section__title {
  margin-bottom: 16px;
  font-size: 32px;
  font-weight: 400;
  color: #212B31;
  text-align: center;
}

.section__text {
  margin-bottom: 40px;
  font-size: 20px;
  color: #72787D;
  text-align: center;
  line-height: 1.6;
}

.social__icon {
  width: 24px;
  height: 24px;
  fill: rgba(115, 120, 124, 0.5);
}

.social__icon:hover {
  fill: rgba(3, 111, 199, 0.5);
}

.burger {
  display: none;
  position: absolute;
  top: 38px;
  right: 30px;
  z-index: 1;
  padding: 8px 0;
  font-size: 0;
  color: transparent;
}

.burger__item {
  width: 32px;
  height: 3px;
  background-color: #212B31;
  display: block;
  position: relative;
}

.burger__item:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: #212B31;
  top: -8px;
}

.burger__item:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 1;
  background-color: #212B31;
  bottom: -8px;
}

.burger:focus {
  outline: 0;
}

.burger.active .burger__item {
  background: none;
}

.burger.active .burger__item:before {
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
  -webkit-transform: rotate(45deg) translate3d(2px, -6px, 0);
          transform: rotate(45deg) translate3d(2px, -6px, 0);
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.burger.active .burger__item:after {
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-transform: rotate(-45deg) translate3d(2px, 6px, 0);
          transform: rotate(-45deg) translate3d(2px, 6px, 0);
  -webkit-transition: -webkit-transform .2s linear;
  transition: -webkit-transform .2s linear;
  -o-transition: transform .2s linear;
  transition: transform .2s linear;
  transition: transform .2s linear, -webkit-transform .2s linear;
}

.tac {
  text-align: center;
}

.tar {
  text-align: right;
}

.tal {
  text-align: left;
}

.imgr {
  display: block;
  width: 100%;
  height: auto;
}

.mb0 {
  margin-bottom: 0;
}

.bold {
  font-weight: 700;
}

@media (max-width: 1439px) {
  .no-webp .black__wrap{
    background: #212B31 url("../img/black/black-bg.png") right top 150px/500px no-repeat; }
}

@media (max-width: 1269px) {
  .container-lg {
    padding: 0 15px;
  }

  .no-webp .black__wrap{
    background: #212B31 url("../img/black/black-bg.png") right top 150px/400px no-repeat; }

  .nav__link {
    padding: 15px 0;
  }

  .nav {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    width: 100%;
    background-color: #fff;
  }

  .btn-order-wrap {
    margin-right: 50px;
  }

  .burger {
    display: block;
  }
}

@media (max-width: 1199px) {
  .reliability__left,
  .reliability__right {
    width: 100%;
  }

  .reliability__left {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 10px;
  }

  .reliability__right {
    text-align: center;
  }

  .block-nine__col {
    width: 50%;
    margin-bottom: 35px;
  }

  .block-nine__item {
    margin: 0 auto 30px;
    width: 100%;
    max-width: 335px;
  }

  .reviews {
    padding: 40px;
  }

  .reviews__comma {
    width: 90px;
    top: 2px;
  }

  .reviews__text {
    font-size: 24px;
  }

  .slick-dots {
    margin-top: 30px;
  }
}

@media (max-width: 1080px) {
  .partners__wrap-img {
    width: 25%;
  }

  .partners__img {
    width: 160px;
  }
}

@media (max-width: 991px) {
  .intro__title {
    font-size: 43px;
  }

  .care__right {
    width: 100%;
  }

  .care__title {
    text-align: center;
  }

  .care__text {
    text-align: center;
  }

  .care__left {
    display: none;
  }

  .care__footer {
    text-align: center;
  }

  .no-webp .black__wrap{
    background: #212B31 url("../img/black/black-bg.png") right top 150px/300px no-repeat; }

  .choice__left,
  .choice__right {
    width: 100%;
  }

  .choice__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .ready__inner {
    padding: 100px 35px;
  }

  .ready__title {
    font-size: 43px;
    margin-bottom: 35px;
  }

  .wrap-three__col {
    padding: 0 15px;
  }

  .reviews {
    padding: 30px;
  }

  .reviews__comma {
    width: 80px;
    left: 8px;
  }

  .reviews__text {
    font-size: 22px;
  }

  .slick-dots {
    margin-top: 20px;
  }

  .helper-media-tac-lg {
    text-align: center;
  }
}

@media (max-width: 890px) {
  .no-webp .black__wrap{
    background: #212B31 url("../img/black/black-full-bg.png") right top no-repeat; }
}

@media (max-width: 850px) {
  .partners__wrap-img {
    width: 33.3333%;
  }

  .partners__img {
    width: 110px;
  }
}

@media (max-width: 767px) {
  .intro__title {
    font-size: 32px;
  }

  .intro__wrap-btn {
    margin-bottom: 50px;
  }

  .intro__photo {
    margin-bottom: 25px;
  }

  .intro__subphoto {
    margin-bottom: 100px;
  }

  .care__title {
    font-size: 25px;
  }

  .care__text {
    font-size: 18px;
    line-height: 1.5;
  }

  .what__line {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .what__left,
  .what__right {
    width: 100%;
  }

  .what__left--media-order2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .what__right--media-order1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .what__title {
    margin-bottom: 10px;
    text-align: center;
    font-size: 16px;
  }

  .what__text {
    margin: 0 auto 10px;
    text-align: center;
    font-size: 14px;
  }

  .what__img {
    max-width: 400px;
  }

  .ease__footer {
    font-size: 18px;
  }

  .reliability__list {
    top: -13px;
    left: 146px;
    width: 30px;
  }

  .reliability__footer {
    padding: 30px;
  }

  .reliability__text {
    font-size: 16px;
  }

  .black__wrap {
    padding: 90px 0;
  }

  .black__header {
    margin-bottom: 90px;
  }

  .black__title {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .black__subtitle {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .black__text {
    font-size: 14px;
  }

  .black__wrap-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .job__left,
  .job__right {
    width: 100%;
  }

  .job__left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .job__title {
    font-size: 25px;
    margin-bottom: 15px;
  }

  .job__subtitle {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: center;
  }

  .job__img {
    width: 100%;
    max-width: 300px;
  }

  .job__mini-title {
    font-size: 15px;
    margin-bottom: 5px;
  }

  .job__text {
    font-size: 14px;
  }

  .job__wrap-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .choice__subtitle {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .choice__text {
    font-size: 14px;
  }

  .startup__col {
    width: 50%;
    padding-bottom: 35px;
  }

  .startup__header {
    margin-bottom: 20px;
  }

  .startup__text {
    font-size: 14px;
  }

  .ready__inner {
    padding: 80px 30px;
  }

  .ready__title {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .footer {
    padding-top: 0;
  }

  .footer__header {
    padding-bottom: 40px;
  }

  .footer__header {
    padding-bottom: 20px;
  }

  .footer__col--media-md-w100 {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer__col--media-md-dn {
    display: none;
  }

  .footer__col--media-md-db {
    display: block;
  }

  .footer__title {
    font-size: 15px;
    margin-bottom: 15px;
  }

  .footer__link {
    font-size: 14px;
  }

  .footer__underground {
    padding: 23px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__underground {
    padding: 13px 0;
  }

  .footer__copyright {
    font-size: 14px;
  }

  .footer__link-privacy-polyci {
    font-size: 14px;
  }

  .btn-order--lg {
    font-size: 15px;
    height: 45px;
  }

  .btn-more {
    font-size: 15px;
    height: 45px;
  }

  .btn-connection {
    font-size: 15px;
    height: 45px;
  }

  .wrap-three__col {
    padding: 0;
    width: 100%;
  }

  .wrap-three__item {
    margin-bottom: 30px;
  }

  .wrap-three__title {
    font-size: 16px;
    margin-top: 15px;
  }

  .wrap-three__text {
    font-size: 14px;
  }

  .span-yellow {
    font-size: 18px;
  }

  .block-nine__col {
    width: 100%;
    margin-bottom: 0;
  }

  .block-nine__item {
    margin-bottom: 25px;
    max-width: 400px;
    min-height: 1px;
  }

  .block-nine__title {
    font-size: 16px;
  }

  .block-nine__text {
    max-width: 400px;
    font-size: 14px;
  }

  .reviews {
    padding: 20px 20px 30px;
  }

  .reviews__comma {
    width: 70px;
    top: 5px;
  }

  .reviews__text {
    font-size: 20px;
  }

  .reviews__footer {
    font-size: 14px;
  }

  .section {
    padding: 50px 0;
  }

  .section__title {
    font-size: 25px;
  }

  .section__text {
    font-size: 18px;
    line-height: 1.5;
  }

  .helper-media-tac-md {
    text-align: center;
  }
}

@media (max-width: 650px) {
  .partners__wrap-img {
    width: 50%;
  }

  .partners__img {
    width: 100px;
  }
}

@media (max-width: 575px) {
  .intro__title {
    font-size: 26px;
  }

  .what__img {
    max-width: 350px;
  }

  .reliability__footer {
    padding: 20px;
  }

  .job__img {
    width: 100%;
    max-width: 250px;
  }

  .ready__inner {
    padding: 70px 25px;
  }

  .ready__title {
    font-size: 26px;
    margin-bottom: 25px;
  }

  .btn-order-wrap {
    display: none;
    margin-right: 0;
    position: absolute;
    right: 0;
    top: 470px;
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: 15px 22px 15px 0;
    background-color: #fff;
  }

  .reviews {
    padding: 15px 15px 30px;
  }

  .reviews__comma {
    width: 60px;
    top: 12px;
    left: 15px;
  }

  .reviews__text {
    font-size: 18px;
  }

  .slick-dots {
    margin-top: 10px;
  }

  .section {
    padding: 35px 0;
  }
}

@media (max-width: 479px) {
  .header__inner {
    padding: 26px 0;
  }

  .intro__title {
    font-size: 17px;
  }

  .intro__wrap-btn {
    margin-bottom: 25px;
  }

  .intro__photo {
    margin-bottom: 15px;
  }

  .intro__subphoto {
    margin-bottom: 50px;
  }

  .care__title {
    font-size: 17px;
    margin-bottom: 10px;
  }

  .care__text {
    font-size: 14px;
    line-height: 1.2;
  }

  .what__title {
    font-size: 14px;
  }

  .what__text {
    font-size: 12px;
  }

  .what__img {
    max-width: 300px;
  }

  .ease__footer {
    font-size: 14px;
  }

  .reliability__list {
    top: -11px;
    left: 100px;
    width: 22px;
  }

  .reliability__footer {
    padding: 10px;
  }

  .reliability__text {
    font-size: 14px;
  }

  .black__wrap {
    padding: 45px 0;
  }

  .black__header {
    margin-bottom: 55px;
  }

  .black__title {
    font-size: 17px;
    margin-bottom: 10px;
  }

  .black__subtitle {
    font-size: 14px;
  }

  .black__text {
    font-size: 12px;
    line-height: 1.2;
  }

  .job__title {
    font-size: 17px;
    margin-bottom: 10px;
  }

  .job__subtitle {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 10px;
  }

  .job__img {
    width: 100%;
    max-width: 200px;
  }

  .job__mini-title {
    font-size: 13px;
  }

  .job__text {
    font-size: 12px;
    line-height: 1.2;
  }

  .choice__subtitle {
    font-size: 14px;
  }

  .choice__text {
    font-size: 12px;
    line-height: 1.2;
  }

  .startup__col {
    width: 100%;
    padding-bottom: 25px;
  }

  .startup__item {
    min-height: 1px;
  }

  .startup__header {
    height: auto;
  }

  .startup__text {
    font-size: 12px;
  }

  .ready__inner {
    padding: 60px 20px;
  }

  .ready__title {
    font-size: 17px;
    margin-bottom: 20px;
  }

  .ready__parents-wrap-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .ready__wrap-btn {
    margin-bottom: 10px;
  }

  .ready__wrap-btn:last-child {
    margin-bottom: 0;
  }

  .footer__title {
    font-size: 11px;
    margin-bottom: 10px;
  }

  .footer__wrap-link {
    margin-bottom: 5px;
  }

  .footer__link {
    font-size: 10px;
  }

  .footer__copyright {
    font-size: 12px;
  }

  .footer__link-privacy-polyci {
    font-size: 12px;
  }

  .logo__text--media-sm {
    font-size: 18px;
  }

  .btn-order--lg {
    font-size: 12px;
    height: 35px;
  }

  .btn-more {
    font-size: 12px;
    height: 35px;
  }

  .btn-connection {
    margin-left: 0;
    font-size: 12px;
    height: 35px;
  }

  .wrap-three {
    margin: 0;
  }

  .wrap-three__item {
    max-width: 300px;
  }

  .wrap-three__title {
    font-size: 14px;
    margin-top: 10px;
  }

  .wrap-three__text {
    font-size: 12px;
    margin-top: 5px;
    line-height: 1.2;
  }

  .span-yellow {
    font-size: 14px;
  }

  .block-nine__title {
    font-size: 14px;
  }

  .block-nine__text {
    font-size: 12px;
  }

  .reviews {
    padding: 10px 10px 30px;
  }

  .reviews__comma {
    width: 50px;
    top: 14px;
    left: 20px;
  }

  .reviews__text {
    font-size: 16px;
  }

  .reviews__footer {
    font-size: 12px;
  }

  .slick-dots {
    margin-top: 5px;
  }

  .section {
    padding: 25px 0;
  }

  .section__title {
    font-size: 17px;
    margin-bottom: 10px;
  }

  .section__text {
    font-size: 14px;
    line-height: 1.2;
  }

  .burger {
    right: 0;
  }
}

@media (max-width: 450px) {
  .partners__wrap-img {
    width: 100%;
  }

  .partners__img {
    width: 90px;
  }
}

@media (max-width: 320px) {
  .logo__text--media-sm {
    font-size: 16px;
  }
}

.webp .black__wrap{ background: #212B31 url(../img/black/black-bg.webp) right top 145px no-repeat; }

.webp .ready__inner{ background: #FFD042 url(../img/ready/ready-bg.webp) center/cover no-repeat; }

@media (max-width: 1439px){

  .webp .black__wrap{ background: #212B31 url(../img/black/black-bg.webp) right top 150px/500px no-repeat; }
}

@media (max-width: 1269px){

  .webp .black__wrap{ background: #212B31 url(../img/black/black-bg.webp) right top 150px/400px no-repeat; }
}

@media (max-width: 991px){

  .webp .black__wrap{ background: #212B31 url(../img/black/black-bg.webp) right top 150px/300px no-repeat; }
}

@media (max-width: 890px){

  .webp .black__wrap{ background: #212B31 url(../img/black/black-full-bg.webp) right top no-repeat; }
}