.care{
	&__inner{
		display: flex;
	}
	&__right{
		width: 54%;
	}
	&__title{
		margin-bottom: 16px;
		
		font-size: 32px;
		font-weight: 400;
		color: $black;
	}
	&__text{
		margin-bottom: 28px;

		font-size: 20px;
		color: $gray;
	}
	&__left{
		width: 46%;
	}
}