.header{
	width: 100%;
	min-height: 100px;
	&__inner{
		padding: 26px;

		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__right{
		display: flex;
		align-items: center;
	}
}