.job{
	&__inner{
		display: flex;
		flex-wrap: wrap;
	}
	&__left,
	&__right{
		width: 50%;

		@media ($md) {
			width: 100%;
		}
	}
	&__left{
		@media ($md) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}
	&__title{
		margin-bottom: 20px;
		
		font-size: 32px;
		font-weight: 400;
		color: $black;

		@media ($md) {
			font-size: 25px;
			margin-bottom: 15px;
		}
		@media ($usm) {
			font-size: 17px;
			margin-bottom: 10px;
		}

	}
	&__subtitle{
		margin-bottom: 60px;
		width: 100%;
		max-width: 450px;
		
		font-size: 20px;
		font-weight: 400;
		color: $gray;
		line-height: 1.6;

		@media ($md) {
			font-size: 18px;
			line-height: 1.5;
			margin-bottom: 30px;

			text-align: center;
		}
		@media ($usm) {
			font-size: 14px;
			line-height: 1.2;
			margin-bottom: 10px;
		}
	}
	&__img{
		@media ($md) {
			width: 100%;
			max-width: 300px
		}
		@media ($sm) {
			width: 100%;
			max-width: 250px
		}
		@media ($usm) {
			width: 100%;
			max-width: 200px
		}
	}
	&__item{
		margin-bottom: 30px;
		padding-left: 72px;
		position: relative;
	}
	&__number{
		position: absolute;
		width: 40px;
		height: 40px;
		top: 0;
		left: 0;

		
		display: flex;
		justify-content: center;
		align-items: center;
		
		font-size: 16px;
		border: 1px solid $gray-light;
		color: $gray;
	}
	&__mini-title{
		margin-bottom: 10px;
		
		font-size: 17px;
		font-weight: 400;
		color: $black;

		@media ($md) {
			font-size: 15px;
			margin-bottom: 5px;
		}
		@media ($usm) {
			font-size: 13px;
		}
	}
	&__text{
		font-size: 16px;
		color: $gray;

		@media ($md) {
			font-size: 14px;
		}
		@media ($usm) {
			font-size: 12px;
			line-height: 1.2;
		}
	}
	&__wrap-btn{
		@media ($md) {
			display: flex;
			justify-content: center;
		}
	}
}