.startup{
	&__inner{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
		max-width: 795px;
		margin: 0 auto;
	}
	&__col{
		width: 33.3333%;
		padding-bottom: 40px;

		@media ($md) {
			width: 50%;
			padding-bottom: 35px;
		}
		@media ($usm) {
			width: 100%;
			padding-bottom: 25px;
		}
	}
	&__item{
		margin: 0 auto;
		width: 100%;
		height: 100%;
		max-width: 185px;
		min-height: 185px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@media ($usm) {
			min-height: 1px;
		}
	}
	&__header{
		margin-bottom: 35px;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 115px;

		@media ($md) {
			margin-bottom: 20px;
		}
		@media ($usm) {
			height: auto;
		}
	}
	&__img{
		display: block;
	}
	&__text{
		font-size: 16px;
		color: $gray;
		line-height: 1.2;
		text-align: center;

		@media ($md) {
			font-size: 14px;
		}
		@media ($usm) {
			font-size: 12px;
		}
	}
}