.btn{
	display: inline-block;
	vertical-align: top;
	padding: 0;

	font-family: inherit;
	background: none;
	border: 0;

	&-order{
		font-family: Arial, sans-serif;
		font-size: 15px;
		color: $white;

		padding: .6em 1.33em;
		border-radius: .26em;

		border: 1px solid $black;
		background-color: $black;
		box-shadow: 0 2px 3px rgba(0,0,0, .16);

		&:hover{
			color: $black;
			background-color: $white;
			box-shadow: 0 2px 15px rgba(0,0,0, .5);
		}
		&--lg{
			font-size: 17px;
			padding: .84em 1.33em;

			@media ($md) {
				font-size: 15px;
				height: 45px;
			}
			@media ($usm) {
				font-size: 12px;
				height: 35px;
			}
		}
		&--white{
			color: $black;
			border: 1px solid $gray-light;
			background-color: $white;

			&:hover{
				color: $white;
				background-color: $black;
				box-shadow: 0 2px 15px rgba(0,0,0, .5);
			}
		}
		&-wrap{
			@media ($xxl){
				margin-right: 50px;
			}
			@media ($sm){
				display: none;
				margin-right: 0;
				
				position: absolute;
				right: 0;
				top: 470px;
				width: 100%;

				justify-content: flex-end;
				padding: 15px 22px 15px 0;
				background-color: $white;
			}
			&.show{
				display: flex;
			}
		}

	}
	&-more{
		font-size: 18px;
		color: $black;

		padding: .6em 1.39em;
		border-radius: .22em;

		background-color: $white;
		border: 1px solid $gray-light;
		
		&:hover{
			color: $white;
			background-color: $black;
			box-shadow: 0 2px 15px rgba(0,0,0, .5);
			border: 1px solid $black;
		}
		&--black{
			color: $white;
			border: 1px solid $gray-light;
			background-color: $black;

			&:hover{
				color: $black;
				background-color: $white;
				box-shadow: 0 2px 15px rgba(0,0,0, .5);
			}

		}
		@media ($md) {
			font-size: 15px;
			height: 45px;
		}
		@media ($usm) {
			font-size: 12px;
			height: 35px;
		}
	}
	& + .btn{
		margin-left: 16px;
	}
	&-connection{
		margin-left: 16px;

		font-size: 18px;
		color: $black;

		padding: .73em 1.39em;
		border-radius: .22em;

		background-color: $white;
		border: 1px solid $gray-light;
		
		&:hover{
			color: $white;
			background-color: $black;
			box-shadow: 0 2px 15px rgba(0,0,0, .5);
			border: 1px solid $black;
		}
		@media ($md) {
			font-size: 15px;
			height: 45px;
		}
		@media ($usm) {
			margin-left: 0;

			font-size: 12px;
			height: 35px;
		}
	}
}