.section{
	padding: 75px 0;

	&__title{
		margin-bottom: 16px;
		
		font-size: 32px;
		font-weight: 400;
		color: $black;
		text-align: center;
	}
	&__text{
		margin-bottom: 40px;

		font-size: 20px;
		color: $gray;
		text-align: center;

	}
}