.wrap-three{
	margin: 0 -20px;
	display: flex;
	flex-wrap: wrap;

	text-align: center;

	&__col{
		width: 33.3333%;
		padding: 0 20px;

		@media ($lg) {
			padding: 0 15px;
		}
		@media ($md) {
			padding: 0 10px;
			width: 100%;
		}
		@media ($usm) {
			padding: 0 15px;
		}
	}
	&__item{
		width: 100%;
		max-width: 330px;
		margin: 0 auto;

		@media ($md) {
			margin-bottom: 30px;
		}
	}
	&__title{
		margin-top: 20px;
		
		font-size: 18px;
		font-weight: 400;
		color: $black;
		

		&--white{
			color: $white;

		}
		@media ($md) {
			font-size: 16px;
			margin-top: 15px;
		}
		@media ($usm) {
			font-size: 14px;
			margin-top: 10px;
		}
	}
	&__text{
		margin-top: 10px;

		font-size: 16px;
		font-weight: 400;
		color: $gray;

		&--white{
			color: rgba($white, .75);
		}
		@media ($md) {
			font-size: 14px;
			
		}
		@media ($usm) {
			font-size: 12px;
			margin-top: 5px;
			line-height: 1.2;
		}
	}
}